a{
    color: #fff;
}

#main-content,
.datagrid-view2 > .datagrid-body{
    background: url('../images/logo.png') center center no-repeat;
}

.combobox-item-hover{
    cursor: pointer;
}

.ftitle{
    font-size:14px;
    font-weight:bold;
    padding:5px 0;
    margin-bottom:10px;
    border-bottom:1px solid #ccc;
}
.fitem{
    margin-bottom:5px;
    margin-left: 15px;
}
.fitem label{
    display:inline-block;
    width:126px;
    vertical-align: top;
    margin-right:10px;
    font-weight: normal;
    font-size: 11px;
    color: #cecece;
}
.fitem input{
    width:160px;
}

.numberbox > input{
    text-align: right;
}
.datagrid-group {
    background: #ffeed9;
    background: -moz-linear-gradient(top, #ffeed9 0%, #ffe8cb 100%);
    background: -webkit-linear-gradient(top, #ffeed9 0%,#ffe8cb 100%);
    background: linear-gradient(to bottom, #ffeed9 0%,#ffe8cb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeed9', endColorstr='#ffe8cb',GradientType=0 );
    font-weight: normal!important;
    color: #504b4b;
}